html {font-family: Verdana; font-weight: normal; background-color: black; text-align: center;}
.title h1 {font-size: 50px; color: white;}
.link {color: aquamarine; font-size: 16px; text-decoration: underline;}
.subheading h1 {font-size: 42px; color: white; font-weight: 300;}
p {color: gray; font-size: 21px;}
